{% extends 'master/base.html' %}
{% block body %}
    <div class="col-md-6">

        <div>
            <form class="form-horizontal" id="createForm" action="" method="post">{% csrf_token %}
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分钟
                            <span class="text-red">*</span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="minute_select" name="time"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">小时
                            <span class="text-red">*</span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="hour_select" name="time">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">天
                            <span class="text-red">*</span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="day_select" name="time"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">月
                            <span class="text-red">*</span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="month_select" name="time"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">周
                            <span class="text-red">*</span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="weekday_select" name="time"></select>
                        </div>
                    </div>
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label class="col-sm-2 control-label">{{ field.label }}
                                {% if field.field.required %}
                                    <span class="text-red">*</span>
                                {% endif %}
                            </label>
                            <div class="col-sm-9">
                                {{ field }}
                            </div>
                            <span class="help-block">
                              {% for error in field.errors %}
                                  {{ error }}
                              {% endfor %}
                                {{ field.help_text }}
                            </span>
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <button type="reset" class="btn btn-warning">清空</button>
                        <button id="createBtn" type="button" class="btn btn-info">提交</button>
                        <p class="text-center"><i id='iconWait'></i></p>
                    </div>
                </div>
            </form>
            <!-- /.box-body -->
        </div>

    </div>
    <div class="col-md-6">
        <div class="bg-black-active color-palette" style="height: 450px;">
            任务名称:<span id="name_span"></span><br>
            执行用户:<span id="user_span"></span><br>
            执行时间:<span id="time_span"></span><br>
            执行任务:<span id="job_span"></span>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $("select").select2();
        /* 生成分钟列表*/
        var minute_select = $("#minute_select");
        minute_select.append("<option value=*>*</option>");
        for (var i = 0; i < 60; i++) {
            minute_select.append("<option value=" + i + ">" + i + "</option>");
            if (i != 0 && i != 1) {
                minute_select.append("<option value=*/" + i + ">*/" + i + "</option>")
            }
        }
        /* 生成小时列表*/
        var hour_select = $("#hour_select");
        hour_select.append("<option value=*>*</option>");
        for (var i = 0; i < 24; i++) {
            hour_select.append("<option value=" + i + ">" + i + "</option>");
            if (i != 0 && i != 1) {
                hour_select.append("<option value=*/" + i + ">*/" + i + "</option>")
            }
        }
        /* 生成天列表*/
        var day_select = $("#day_select");
        day_select.append("<option value=*>*</option>");
        for (var i = 1; i < 32; i++) {
            day_select.append("<option value=" + i + ">" + i + "</option>");
            if (i != 0 && i != 1) {
                day_select.append("<option value=*/" + i + ">*/" + i + "</option>")
            }
        }
        /* 生成月列表*/
        var month_select = $("#month_select");
        month_select.append("<option value=*>*</option>");
        for (var i = 1; i < 13; i++) {
            month_select.append("<option value=" + i + ">" + i + "</option>");
            if (i != 0 && i != 1) {
                month_select.append("<option value=*/" + i + ">*/" + i + "</option>")
            }
        }
        /* 生成周列表*/
        var weekday_select = $("#weekday_select");
        var wds = ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"]
        weekday_select.append("<option value=*>*</option>");
        for (var i = 0; i < 7; i++) {
            weekday_select.append("<option value=" + i + ">" + wds[i] + "</option>");
        }
        function scheduler() {
            var time = "" + minute_select.val() + " " + hour_select.val() + " " + day_select.val() + " " + month_select.val() + " " + weekday_select.val();
            $("#name_span").text($("#id_name").val());
            $("#user_span").text($("#id_user").val());
            $("#job_span").text($("#id_job").val());
            $("#time_span").text(time);
        }
        scheduler();
        /* 所有的select 和input发生改变以后都要执行scheduler函数
            执行函数不能加括号
         */
        $("select,input").change(scheduler);

        if ("{{ pk }}" == "0") {
            url = "{% url 'createcron' %}"
        } else {
            url = "{% url 'editcron' pk %}";
            minute_select.find("option[value='"+{{ time|safe }}[0]+"']").attr("selected",true);
            hour_select.find("option[value='"+{{ time|safe }}[1]+"']").attr("selected",true);
            day_select.find("option[value='"+{{ time|safe }}[2]+"']").attr("selected",true);
            month_select.find("option[value='"+{{ time|safe }}[3]+"']").attr("selected",true);
            weekday_select.find("option[value='"+{{ time|safe }}[4]+"']").attr("selected",true);
        }
        $("#createBtn").on("click", function () {
            Net.post({
                url: url,
                btn: $("#createBtn"),
                data: $("#createForm").serialize(),
                go: "{% url 'cronall' %}"
            })
        })

    </script>
{% endblock %}