<form class="form-horizontal" id="createForm" action="" method="post">{% csrf_token %}
    <div class="box-body">
        {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label class="col-sm-2 control-label">{{ field.label }}
                {% if field.field.required %}
                <span class="text-red">*</span>
                {% endif %}
            </label>
            <div class="col-sm-9">
                {{ field }}
            </div>
            <span class="help-block">
          {% for error in field.errors %}
              {{ error }}
          {% endfor %}
                    {{ field.help_text }}
        </span>
        </div>
        {% endfor %}
        <!-- 选择更新方式，通过单选按钮实现-->
        <div class="form-group">
            <label class="col-sm-2 control-label">更新类型
                <span class="text-red">*</span>
            </label>
            <div class="col-sm-9" id="update_type">
                <label>
                    <input type="radio" name="radio" class="minimal id2" value="bra" checked>分支更新
                </label>
                <label>
                    <input type="radio" name="radio" class="minimal id2" value="tag"> tag更新
                </label>
            </div>

        </div>
        <!--通过分支+提交记录更新-->
        <div class="form-group bra_name">
            <label class="col-sm-2 control-label">分支
                <span class="text-red">*</span>
            </label>
            <div class="col-sm-9">
                <select class="form-control" id="bra_select" name="bra_select"></select>
            </div>

        </div>
        <div class="form-group bra_commit">
            <label class="col-sm-2 control-label">提交记录
                <span class="text-red">*</span>
            </label>
            <div class="col-sm-9">
                <select class="form-control" id="commit_select" name="commit_select"></select>
            </div>

        </div>
        <!--基于tag标签更新-->
        <div class="form-group tag_name">
            <label class="col-sm-2 control-label">tag版本
                <span class="text-red">*</span>
            </label>
            <div class="col-sm-9">
                <select class="form-control" id="tag_select" name="tag_select"></select>
            </div>

        </div>
        <div class="box-footer text-center">
            <button type="reset" class="btn btn-warning">清空</button>
            <button id="createBtn" type="button" class="btn btn-info">提交</button>
            <p class="text-center"><i id='iconWait'></i></p>
        </div>
    </div>
</form>
<script>
    $("select").select2();
    $(".tag_name").hide();
    /*通过不同的单选框实现不同的input显示与隐藏*/
    $(".id2").change(function () {
        /* id2:checked代表当前选中的值*/
        var type_check = $(".id2:checked").val()
        if (type_check == "bra") {
            $(".tag_name").hide();
            $(".bra_name").show();
            $(".bra_commit").show()
        } else {
            /* show 显示
               hide 隐藏
               empty 清空
            */
            $(".tag_name").show();
            $(".bra_name").hide();
            $(".bra_commit").hide();
            $(".tag_name").empty();
            $("#tag_select").append("<option value='0'>" + "---------" + "</option>")
            var team_val = $('#id_team').val() || 0;
            /* 获取tag标签*/
            $.get({
                url: "/gettag/" + team_val,
                success: function (res) {
                    data = res.data;
                    data.forEach(function (d) {
                        $("#tag_select").append("<option value='" + d + "'>" + d + "</option>")
                    })

                }
            })
        }
    });
    /* 获取分支信息*/
    $("#id_team").change(function () {
        var team_val = $('#id_team').val() || 0;
        $("#bra_select").append("<option value='0'>" + "---------" + "</option>")
        $.get({
            url: "/getbra/" + team_val,
            success: function (res) {
                data = res.data;
                data.forEach(function (d) {
                    console.log(d);
                    $("#bra_select").append("<option value='" + d + "'>" + d + "</option>")
                })

            }
        })
    })
    /*获取commit*/
    $("#bra_select").change(function () {
        var team_val = $('#id_team').val() || 0;
        var bra_val = $('#bra_select').val() || 0;
        $("#commit_select").empty();
        $("#commit_select").append("<option value='0'>" + "---------" + "</option>")
        $.get({
            url: "/getcommit/" + team_val + "/" + bra_val,
            success: function (res) {
                data = res.data;
                data.forEach(function (d) {
                    console.log(d);
                    $("#commit_select").append("<option value='" + d.id + "'>" + d.message + "</option>")
                })

            }
        })
    })

    $("#createBtn").on("click", function () {
        Net.post({
            url: "{% url 'creategit' %}",
            btn: $("#createBtn"),
            data: $("#createForm").serialize(),
            go: "{% url 'updateall' %}"
        })
    })

</script>
